@page "/Projects"
@inject IProjectService ProjectService

    <div>
        <a class="btn btn-primary" href='/addBookCase'>Add</a>
    </div>

<div class="card mt-4">
    <h4 class="card-header">Book Cases</h4>
    <div class="card-body">
        <h6>Book Cases from secure api end point</h6>
        @if (loading)
        {
            <div class="spinner-border spinner-border-sm"></div>
        }
        @if (projects != null)
        {
            <ul>
                @foreach (var project in projects)
                {
                    <tr>
                        <td>@project.Id</td>
                        <td>@project.Name</td>
                        <td>
                            <a class="btn btn-primary" href='/bookCases/@project.Id'>Edit</a>  |
                            <a class="btn btn-danger" @onclick="() => DeleteProject(project.Id)">Delete</a>
                        </td>
                    </tr>
                }
            </ul>
        }
    </div>
</div>

@code {
    private bool loading;
    private IEnumerable<Project> projects;

    protected override async Task OnInitializedAsync()
    {
        loading = true;
        projects = await ProjectService.GetAllProject();
        loading = false;
    }

    protected async Task DeleteProject(int id)
    {
        await ProjectService.DeleteProject(id);
        projects = await ProjectService.GetAllProject();
    }
}